  .image-background {
    position: absolute;
    top: 0;
    left: 822px;
    width: 1300px;
    height: 1077px;
  }
  .home-body,
  .background-color {
    position: absolute;
    background-color: var(--color-blanchedalmond);
  }
  .home-body {
    top: 0;
    left: 0;
    box-shadow: 5px 0 11px rgba(0, 0, 0, 0.25);
    width: 822px;
    height: 1076px;
  }
  .background-color {
    width: 100%;
    height: 100%;
  }
  .secaoExperiencia,
  .secaoProjeto {
    position: absolute;
    display: inline-block;
  }
  .secaoExperiencia,
  .secaoProjeto {
    height: 5.11%;
    width: 16.97%;
    top: 36.33%;
    left: 40.25%;
    font-size: var(--font-size-77xl);
    letter-spacing: -0.06em;
  }
  .secaoExperiencia {
    height: 3.13%;
    width: 24.09%;
    top: 66.48%;
    left: 38.38%;
  }
  .lorem-ipsum-placerat {
    margin: 0;
  }
  .lorem-ipsum-placerat-container {
    position: absolute;
    top: 522px;
    left: 215px;
    font-size: 20px;
    letter-spacing: -0.06em;
  }
  .grupo-icones,
  .linha-dois {
    position: absolute;
    top: 947.51px;
    width: 100%;
  }
  .linha-um{
    position: absolute;
    top: 947.51px;
    left: -87px;
    height: 129.99px;
  }
  .insta,
  .linkedin,
  .whats,
  .email{
    margin-left: 10px;
    cursor: pointer;
    margin-top: 10%;
    transition: 0.5s;
  }
  .insta:hover,
  .linkedin:hover,
  .whats:hover,
  .email:hover{
    transform: scale(120%);
    filter: brightness(1.3)
  }
  .linha-dois {
    top: 2200px;
    width: 100%;
  }
  .grupo-icones {
    top: 23.43%;
    right: 74.04%;
    left: 12%;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
    display: flex;
    align-items: flex-end;
  }
  .gomes,
  .manoela {
    position: absolute;
    letter-spacing: -0.06em;
    display: inline-block;
  }
  .gomes {
    top: 460px;
    left: 454px;
    font-size: 36px;
    font-weight: 700;
    width: 109px;
    height: 46px;
  }
  .manoela {
    top: 369px;
    left: 215px;
    font-size: var(--font-size-77xl);
    width: 348px;
    height: 101px;
  }
  .image-3-icon {
    position: absolute;
    top: 3647px;
    left: 0;
    width: 1980px;
    height: 91px;
    object-fit: cover;
  }
  .home-page-web {
    position: relative;
    border-radius: 2px;
    background-color: #404040;
    border: 1px solid rgba(255, 255, 255, 0.1);
    box-sizing: border-box;
    width: 100%;
    height: 3738px;
    overflow: hidden;
    text-align: left;
    font-size: var(--font-size-base);
    color: var(--color-darkslategray-100);
    font-family: var(--font-istok-web);
  }