@import url("https://fonts.googleapis.com/css2?family=Istok+Web:ital,wght@0,400;0,700;1,700&display=swap");
body {
  margin: 0;
  line-height: normal;
  scroll-behavior: smooth;
}
:root {
  /* fonts */
  --font-istok-web: "Istok Web";

  /* font sizes */
  --font-size-77xl: 96px;
  --font-size-base: 16px;

  /* Colors */
  --color-darkslategray-100: #3f324d;
  --color-darkseagreen: rgba(147, 194, 177, 0.5);
  --color-blanchedalmond: #ffeacc;
}
